<div id="header">
  <span class="title"><a href="/">{{ site.top-title }}</a></span>
  <nav>
    <li class="fork">
      <a href="https://github.com/mrenaud92">GitHub</a>
    </li>

    <li class="fork">
      <a href="http://careers.stackoverflow.com/mrenaud92">Careers 2.0</a>
    </li>

    <li class="fork">
      <a href="https://plus.google.com/103024748052706251437/about">G+</a>
    </li>
    
    <li class="fork">
      <a href="http://ca.linkedin.com/in/mrenaud92">LinkedIn</a>
    </li>
    
  </nav>
</div>
